Source: ros-kilted-microstrain-inertial-description
Section: misc
Priority: optional
Maintainer: Rob Fisher <rob.fisher@parker.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ros-workspace
Homepage: https://github.com/LORD-MicroStrain/microstrain_inertial
Standards-Version: 3.9.2

Package: ros-kilted-microstrain-inertial-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-xacro, ros-kilted-ros-workspace
Description: URDF and stl files for MicroStrain sensors.
